// Import app variables
@import '../../_app-variables';

.loading-button {
    background-color: $wellness;
    color: $white;
    border-radius: 10;
    width: 150;
}

.page {
    background-image: url("~/assets/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 70%; /* instead set ypos to top to avoid scroll-up */
}
