// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

//Font icon
.fa {
   font-family: "FontAwesome";
}

.font-windsong {
  font-family: "Windsong";
}

.font-amatic {
  font-family: "AmaticSC-Regular";
}

.font-amatic-bold {
  font-family: "Amatic-Bold";
}

.font-80db {
  font-family: "80db";
}

.font-outwrite {
  font-family: "outwrite";
}

.font-brewski {
  font-family: "Brewski";
  font-weight: bold;
}

//Action bar
.action-item,
NavigationButton {
    color: $ab-color;
}

.action-item:disabled {
    color: rgba($ab-color, 0.5);
}

Slider {
  background-color: $accent;
  color: $accent;  
}

.text {
    color: $blue-dark;
}

.text-primary {
    color: $accent-dark;
}

.text-secondary {
    color: $blue-50;
}
